.areas-of-interest-section .text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.areas-of-interest-section .feature-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4%;
    column-gap: 3%;
    grid-auto-rows: minmax(150px, auto);
    grid-auto-columns: minmax(50px, auto);
}

    .areas-of-interest-section .feature-area::-webkit-scrollbar { 
        display: none;
    }

.areas-of-interest-section .feature-area .feature .feature-title{
    font-size: 1.3rem;
}

.areas-of-interest-section .feature-area .feature{
    box-shadow: -5px 5px black;
    border: 1px solid var(--secondaryColor3);
    border-radius: var(--borderRadius);
    color: white;
    background: linear-gradient(120deg, var(--secondaryColor3), rgb(52, 51, 51));
    position: relative;
}
    .areas-of-interest-section .feature-area .feature:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.3s linear;
    }

.areas-of-interest-section .icon-link{
    text-decoration: none;
    color: white;
    border: 1px solid var(--secondaryColor1);
    border-radius: 30px;
}

@media only screen and (max-width: 500px) {        
    .areas-of-interest-section .feature-area .feature p, .areas-of-interest-section .feature-area .feature a{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .areas-of-interest-section .hide{
        display: none;
    }

    .areas-of-interest-section .text-wrapper{
        display: flex;
        justify-content: center;
    }
}