.areas-of-interest-section .text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.areas-of-interest-section .feature-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4%;
    column-gap: 3%;
    grid-auto-rows: minmax(150px, auto);
    grid-auto-columns: minmax(50px, auto);
}

.areas-of-interest-section .feature-area .feature{
    /* border: 1px solid rgba(0, 0, 0, 0.16); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: var(--borderRadius);
    background-color: white;
}
    .areas-of-interest-section .feature-area .feature:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.3s linear;
    }

@media only screen and (max-width: 500px) {        
    .areas-of-interest-section .feature-area .feature p, .areas-of-interest-section .feature-area .feature a{
        display: none;
    }
}