.books-section .books-image-section .image-container{
    border-radius: var(--borderRadius);
    height: 15rem;
    width: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(201, 201, 201);
}

.scrolling-columns {
    display: flex;
}
.scrolling-column {
    width: 50%;
    height: 100vh;
}

.books-section .text-wrapper{
    width: 60%;
}

@media only screen and (max-width: 1050px){
    .books-section .text-wrapper{
        width: 90%;
    }

    .books-section .books-image-section .image-container{
        height: 17rem;
        width: 12rem;
    }
}

@media only screen and (max-width: 768px){
    .books-section .text-wrapper{
        width: 100%;
    }

    .books-section .books-image-section .image-container{
        height: 14rem;
        width: 9rem;
    }
}

@media only screen and (max-width: 576px){
    .books-section .scrolling-column, .books-section .books-columns{
        display: flex;
    }
}