.contact-section .full-time-section{
    position: relative; 
}
.contact-section .full-time-section .full-time-section-text{
    position: relative; 
    top: 55%;
    left: 0;
    color: white;
}

.contact-section .full-time-section .full-time-section-text .get-in-touch-button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px; 
    color: white;
    text-transform: uppercase;
}

.contact-section .freelance-text-section{
    color: white;
}

.contact-section .freelance-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6%;
    column-gap: 2%;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(50px, auto);
}

.contact-section .freelance-card-container .freelance-card {
    background-color: white;
    border-radius: var(--borderRadius);
    /* overflow: hidden; */
}
.contact-section .freelance-card-container .active{
    box-shadow: var(--boxShadowStyleWhite);
}

.contact-section .freelance-card-container .freelance-card .enquire-button{
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    border-radius: 30px;
}

.contact-section .freelance-section{
    border: 1px solid var(--primaryColor);
}

@media only screen and (max-width: 768px){
    .contact-section .full-time-section{
        height: 85vh;
        position: relative;
    }      
}

@media only screen and (max-width: 822px){
    .contact-section .freelance-card-container p, .contact-section .freelance-card-container button svg{
        display: none;
    }    
}