.hero-section .hero-section-container{
    position: relative;
}

/* .hero-section .lottie-player{
    position: absolute;
    left: 2%;
    top: 30%;
    z-index: -1;
} */

.hero-section .contact-button{
    background-color: white;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}

    .hero-section .contact-button:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: linear 0.2s;
    }

.hero-section .resume-button{
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    color: white;
    font-weight: 300;
}

.typewrite{
    color: var(--secondaryColor2);
}
    .typewrite:hover{
        color : var(--secondaryColor2);
        text-decoration: none;
    }

@media only screen and (max-width: 576px) {
    .hero-section .section-subtitle{
        margin-top: 14%;
    }
}

@media only screen and (max-width: 528px) {
    .hero-image{
        width: 100%;
    }
}
    