@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@300&display=swap');

:root{
    --h1FontSize : 2vw; 
    /* --h2FontSize : var(--h1FontSize); #28bbae
    --h3FontSize : var(--h1FontSize);  */
    --primaryColor : #0d0d18; 
    --secondaryColor1 : #2bb8a1; 
    --secondaryColor2 : #CCCCCC;
    --secondaryColor3 : #e60a69; 
    --borderColor : rgba(186, 186, 186, 0.422);
    --boxShadowStyle : rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
    --boxShadowStyleWhite : rgba(255, 255, 255, 0.674) 0px 12px 20px -5px, rgba(254, 254, 254, 0.685) 0px 8px 16px -8px; 
    --borderRadius : 10px; 
    --headerFontFamily : 'Epilogue', sans-serif;
    --textFontFamily : 'Inter', sans-serif;
    --fontColor1 : #591A00;
    --fontColor2 : #1b1b1bdf;
    --backgroundColorLayer1: rgb(131,58,180);
    --backgroundColorLayer2: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

body{
    /* background: var(--primaryColor) !important; */
    background: white;
}

.cta-button-style{
    border: 1px solid var(--secondaryColor3);
    color: var(--secondaryColor3);
    background-color: transparent;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.title-color{
    color: var(--fontColor1);
}
.para-color{
    color: var(--fontColor2);
    font-weight: 400;
}

.main-content{
    width: 100%;
}

.section-subtitle{
    color : var(--secondaryColor1);
    text-transform: uppercase;
    font-weight : 350;
    font-size : x-large;
}

.flex-wrapper{
    display: flex;
    justify-content: center;
}

.reveal {
    position: relative;
    opacity: 0;
  }
  
    .reveal.active {
        opacity: 1;
    }

.active.fade-bottom{
    animation: fade-bottom 0.9s ease-in;
}

.active.fade-bottom1{
    animation: fade-bottom 1.1s ease-in;
}

.active.fade-bottom2{
    animation: fade-bottom 1.3s ease-in;
}

.active.fade-left{
    animation: fade-left 0.9s ease-in;
}
.active.fade-right{
    animation: fade-right 0.9s ease-in;
}

@keyframes fade-bottom {
    0% {
      transform: translateY(70px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#preloader{
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 100;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}